.distritos_filters{
    width: 100%;
    background-color: #f9f9f9;

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lista{
    
}
.distritos-list{
    background-color: #f9f9f9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    

    margin: 0 auto;

}

.distrito-btn{
    width: 38px;
    height: 38px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 100px;
}
.distrito-btn-none{

    display: none;
}

.distrito-btn:hover{
    background-color: #e0e0e0;
}

.distrito-btn-active{
    background-color: #e0e0e0;
}
.distrito-btn:active{
    background-color: #e0e0e0;
}

::-webkit-scrollbar {
    display: none;
}

.text_description_distritos{
    font-weight: 700;
    font-size: 43px;
    color: #3A3D4F;
    max-width: 1200px;
    text-align: left;
    margin: 0 auto;
    margin-top: 2rem;

    grid-area: title;
  }

.distrito_diputados_list{
    width: 800px;
    margin-top: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
    flex-wrap: wrap;

    grid-area: cards;
    
}

.distritos_container{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "title title"
        "cards 0";
}

.mapa{
    width: 300px;
    margin-top: 2rem;
    grid-area: mapa;
}

.active{
    fill: rgb(224, 187, 255);
}

@media (max-width: 1100px) {
    
    .distritos_container{

        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
            "title"
            "mapa"
            "cards "; 
    }

    .distrito_diputados_list{
        width: 100%;
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        align-items:flex-start;
        flex-wrap: wrap;
    }


  
}

@media (max-width: 600px) {
    
    .distritos-list{
        padding: 0.7rem;
    }

    .distrito-btn{
        width: 38px;
        height: 38px;
        margin-left: 0.3rem;
        margin-right: 0.3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 100px;
    }

  
}