


.section-gobernador {
    margin: 0 auto;
    padding: 6rem 0rem 0rem 0rem;
    color: var(--text-color);
    max-width: 1200px;

    /* align-items: flex-start;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    column-gap: 50px;
    grid-template-areas:
        "partidos-text 0"; */
}

.slider{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 1rem;

    -webkit-overflow-scrolling: touch;  
}


.gobernador-text{

}

.names{
    font-weight: 700;
    font-size: 19px;
    color: black;
    margin: 1rem 0 0 0;
}

.info_description{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.info_partido{
    margin: 1rem 0 0 0;
    color: gray;
}

.card_people{
    width: 300px;
    margin-right: 1rem;
    display: inline-block;
    flex: 0 0 auto;
    transition:  transform 450ms;
}

.card_people:hover {
    transform: scale(1.05);
}

.card_people img {
    object-fit: contain;
    border-radius: 20px;
    width: 100%;
}

.gob_list{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;

    overflow-x: scroll;
    overflow-y: hidden;
    padding: 1rem;
    margin-bottom: 5rem;
}

.gob_list::-webkit-scrollbar {
    display: none;
}


  
@media (max-width: 1200px) {
    .gobernador-text{
        margin: 1rem;
    }

    .slider{
        margin: 1rem;
    }
  
}
    
@media (max-width: 1024px) {
    .gobernador-text{
        margin: 1rem;

    }
    .gob_list{
        margin: 1rem;
        margin-bottom: 5rem;
    }
  
}
    
@media (max-width: 600px) {

    .card_people{
        width: 240px;
        margin-right: 1rem;
        display: inline-block;
        flex: 0 0 auto;
        transition:  transform 450ms;
    }
    
    
}
    
@media (max-width: 375px) {
  
    
}