.visible-none{
    display: none;
}

.text-decoration{
    font-size: 30rem;

    color: #1b1c1f85;
    position: fixed;
    font-weight: 900;
    bottom: -40rem;
    z-index: -1;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

.header-container{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-content: center;

}
.header{
    z-index: 5;
    padding: 2rem 3rem 1rem 3rem;
    width: 100%;
    /* max-width: 1800px; */
    display: flex;
    align-content: center;
    justify-content: space-between;

    margin: 0 auto;
	position: absolute;
	top: 0;
	color: white
}

.Logo{
    width: 170px;
}

.Menu-icon{
    font-size: 1rem;
    color: white;
    /* margin-right: 4rem; */
    width: 85px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}




@media (max-width: 1200px) {
    
    .header{

        padding: 2rem 3rem 2rem 3rem;
        backdrop-filter: blur(8px);
        opacity: 60%;
    }

  
}

@media (max-width: 600px) {
    
    .header{


    }

  
}

@media (max-width: 1200px) {

    .header{

        padding: 1rem 1rem 0rem 1rem;

    }


    .Logo{
        width: 120px;
    }


}